/* font style google work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
   font-family: 'Work Sans', sans-serif;
}
header{
   background: rgba(255, 144, 14, 0.10);
   padding:50px 240px ;
}
.btn-primary{
   border-radius: 0px;
   color: #FFF;
   font-size: 1.25rem;
   background:#FF900E;
   padding: 20px 25px;
   color: #FFF;
   cursor: pointer;
   border:0px;
}
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.section-tittle{
font-size: 2.8rem;
font-weight: 700;
color:131313;
}
nav > ul {
   display: flex;
}
nav li{
   list-style: none;
   margin-right:30px;
   font-weight: 500;
   font-size: 1rem;
}
nav li a{
   text-decoration: none;
   color:#424242;
}
/* banner style */
.banner-content{
   max-width: 800px;
   text-align: center;
   margin:0 auto ;
}
.banner-tittle{
   font-size: 4rem;
   font-weight: 700;
   color:#131313;
}
.text-light-gray{
   color: #727272;
}
.banner img{
   margin-top: 20px;
   width: 100%;
}


/* main styles */
main{
   max-width: 1440px;
   margine: 0 auto;
}
/* tems styles */
.teams-container{
   display:flex;
   align-items: center;
}
.teams-img-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1.5rem;
}
.teams-content{
   padding-left: 20px;
   padding-right: 20px;
}
.teams-tittle{
   font-size: 2.8rem;
}
.teams-tittle .quick-list{
   color: #727272;
   font-weight: 500;
}
.teams-tittle .text-features{
   color: #FF900E;
   font-weight: 700;
}
/* facts section design */
.facts-card-container{
   display: flex;
   justify-content: space-around;
}
.facts-card-container .card{
   border-radius:  8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 30px;
}
.facts-container .card-stats{
   font-size: 2.8rem;
   color: #424242;
   margin-top: 10px;
   margin: bottom: 10px;
}
.facts-container .card-tittle{
   font-weight:600
   font-size: 1.25rem;
}

/* sponsors section */
.sponsors{
   text-allign: center;
}
.sponsors-img-container{
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
   align-item: center;
   gap:20px;
}
.sponsors-img-container img{
   width: 165px;
}

/* features style */
.features{
   display: flex;
   margin-top: 130px;
   gap: 100px;
}
.ten-years{
   border-radius: 8px;
   background: #FF900E;
   color:#FFF;
   width: 342px;
   padding:40px;
   text-align:center;
   position:relative;
   bottom: 100px;
}
.ten-years h2{
   font-size:4rem;
   margin:0;
}
.ten-years p{

}


/* Responsive media */
/* mobile device */
@media screen and (max-width: 576px) {
   header{
      padding: 20px;
   }
   nav,
   .text-container,
   .facts-card-container {
      flex-direction:column;
   }
   .teams-img-container{
      grid-template-columns: 1fr;
   }
   .teams-content, .facts-card-container{
      padding-left: 20px;
      padding-right: 20px;
   }
   .facts-card-container{
      gap: 20px;
   }
}


/* Tablet device */
@media screen and (min-width:576px) and (max-width: 960px) {
   header{
      padding; 50px;
   }
   nav,
   .teams-container,
   .sponsors-img-container {
      flex-direction: column;
   }
}
